# dev container stuff that might end up here bc of the dev environment
node_modules
.config/
.svelte-kit/
ohif/
.npm/
.cache/
.yarnrc
npm-debug.log*

/.git
/README.md
/.dockerignore
/Dockerfile

/.env
/.env.*
